.container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.App-header {
  background-color: #282c34;
  
}

.scoreBoard {
  padding-top: 10px;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  background-color: #282c34;
  padding: 20px;
}

.card {
  background-color: rgb(129, 147, 165);
  border-radius: 15px;
  transition: box-shadow .3s;
  font-weight: bold;
  font-size: 1.2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  border: 2px solid rgb(139, 196, 232);
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.animal {
  height: 100%;
  border-radius: 15px 15px 0 0;
  pointer-events: none;
}

footer {
  padding: 20px;
}